dist: bionic
language: python
before_install:
  - sudo apt-get update
install:
  - pip install flake8 pytest
  - pip install -e .
before_script:
  - yag install wine
  - yag install innoextract
script:
  - flake8
  - pytest tests
