Language { English }
Voices { English }
Volume { 0.800000 }
Enhanced { true }
Subtitles { true }
VideoSettings
{
	Device { "Videocard" }
	Display { \\.\DISPLAY1 }
	Resolution { {{ screen["resolution"][0] }} {{ screen["resolution"][1] }} }
	AspectGame { 0 }
	AspectScreen { 4 3 }
	Fullscreen { true }
	VSync { false }
	AllModes { true }
	MotionBlur { false }
}
