[booger]
BACKGROUND={{ wine.apps_folder }}\{{ app_name }}\OVER;{{ wine.apps_folder }}\{{ app_name }}\BACKGND
TOPO={{ wine.apps_folder }}\{{ app_name }}\TOPO
BTC={{ wine.apps_folder }}\{{ app_name }}\BTC
PALETTE={{ wine.apps_folder }}\{{ app_name }}\PALETTE
SCRIBBLE={{ wine.apps_folder }}\{{ app_name }}\OVER;{{ wine.apps_folder }}\{{ app_name }}\SCRIBBLE
CEL={{ wine.apps_folder }}\{{ app_name }}\OVER;{{ wine.apps_folder }}\{{ app_name }}\CEL
SCRIPT={{ wine.apps_folder }}\{{ app_name }}\SCRIPT
ROACH={{ wine.apps_folder }}\{{ app_name }}\ROACHD
MOVIE={{ wine.apps_folder }}\{{ app_name }}\OVER;{{ wine.apps_folder }}\{{ app_name }}\MOVIE
MASH={{ wine.apps_folder }}\{{ app_name }}\OVER;{{ wine.apps_folder }}\{{ app_name }}\MASH
SOUND={{ wine.apps_folder }}\{{ app_name }}\SOUND
SAVE={{ wine.apps_folder }}\{{ app_name }}\SAVE
[SoundMix]
SoundOn=1
BetweenScreens=1
SmallChunkSize=3
BigChunkSize=26
BigChunkMethod=0
DumbSound=0
[badmojo]
Preferences=1111110
